{
    "semi": true,
    "trailingComma": "none",
    "singleQuote": false,
    "printWidth": 120,
    "tabWidth": 2,
    "organizeImportsSkipDestructiveCodeActions": true,
    "overrides": [{ "files": ["*.yml", "*.yaml"], "options": { "tabWidth": 2 } }]
}
  